git lfs track "*.psd"
git lfs track "*.png"
git lfs track "*.jpg"
git lfs track "*.tga"
git lfs track "*.fbx"
git lfs track "*.anim"
git lfs track "*.controller"
git lfs track "*.wav"
git lfs track "*.mp3"
git lfs track "*.ogg"
git lfs track "*.aiff"
git lfs track "*.prefab"
git lfs track "*.unity"
git lfs track "*.asset"
git lfs track "*.mat"
git lfs track "*.exr"
git lfs track "*.zip"
git lfs track "*.dll"

